@import '../../../styles/variables.scss';

.products__item {
  margin-top: 24px;
  display: flex;
  flex-direction: column;

  .products__header {
    display: flex;
    justify-content: space-between;

    .products__header-discount {
      width: 100px;
      font-size: 14px;
      font-weight: 700;
      color: $main;
      padding: 10px 0px;
      background: $background;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
    }

    .products__header-heart {
      width: 32px;
      height: 32px;
    }
  }

  .products__image {
    width: 180px;
    height: 180px;
  }

  .products__item-container {
    width: 180px;
    margin: 0xp auto;
    display: flex;
    flex-direction: column;

    .products__title {
      font-size: 14px;
      margin-top: 10px;
      color: $black;
      text-align: center;
      text-transform: uppercase;
      line-height: 21px;
    }

    .products__old-price {
      margin-top: 14px;
      color: $gray-1;
      text-align: center;
      text-decoration: line-through;
      line-height: 24px;
    }

    .products__new-price {
      font-weight: 700;
      margin-top: 4px;
      color: $black;
      text-align: center;
      font-size: 18px;
      line-height: 27px;

      > span {
        font-size: 22px;
        line-height: 33px;
      }
    }

    .products__sub-price {
      font-weight: 700;
      margin-top: 4px;
      color: $main;
      text-align: center;
      display: flex;
      flex-direction: column;
      line-height: 24px;

      > span {
        color: $black;
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
      }
    }
  }

  .products__button {
    margin-top: 14px;
  }
}
