@import '../../styles/variables.scss';

.header {
  width: 100%;
  border-radius: 0px 0px 10px 10px;

  .header__top {
    width: 100%;
    padding: 6px 0px;
    display: flex;
    justify-content: center;
    gap: 120px;

    .header__slogan {
      display: flex;
      align-items: center;
      color: $gray-1;
      font-size: 12px;
      font-weight: 500;

      > img {
        margin-right: 10px;
      }

      .header__slogan-strong {
        color: $main;
        font-weight: 600;
        margin: 0px 3.2px;
      }
    }
  }

  .header__middle {
    width: 100%;
    padding: 12px 0px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;

    .header__middle-container {
      max-width: 1168px;
      margin: 0px auto;
      display: flex;
      justify-content: space-between;

      .header__search-wrapper {
        max-width: 657px;
        width: 100%;
        position: relative;

        .header__search {
          padding: 14px 24px;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          border: none;
          background: $background;
          box-sizing: border-box;
        }

        .header__search:focus {
          outline: 1px solid $main;
        }

        .header__search::placeholder {
          font-size: 14px;
          font-weight: 500;
        }

        > img {
          position: absolute;
          top: 8px;
          right: 16px;
          color: $gray-1;
        }
      }

      .header__nav-icons {
        display: flex;
        align-items: center;

        > ul {
          display: flex;
          align-items: center;
          gap: 32px;
        }
      }
    }
  }

  .header__bottom {
    max-width: 1168px;
    margin: 0px auto;
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;

    .header__nav-icons {
      width: 100%;
      display: flex;
      align-items: center;

      > ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > li {
          text-transform: uppercase;
          font-size: 12px;

          > a {
            text-decoration: none;
            color: $gray-1;
            font-weight: 600;
          }
        }
      }
    }
  }
}

